Baseline Model

In [1]:
import numpy as np
import pandas as pd

In [2]:
# read in taxi data frame
dfTaxi = pd.read_csv("2018_Yellow_Taxi_Trip_Data.csv", nrows=1_000, header=0)

# initialize column names
column_names = ['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance',
                'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount',
                'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount']

# reread dataframe to reinitialize columns
dfTaxi = pd.read_csv('2018_Yellow_Taxi_Trip_Data.csv', header=None, names=column_names, skiprows=1)

In [3]:
dfTaxi.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,03/31/2018 03:45:57 PM,03/31/2018 03:50:56 PM,0,0.70,1.0,N,239.0,239.0,2.0,5.5,0.0,0.5,0.00,0.0,0.3,6.30
1,1,03/31/2018 03:53:58 PM,03/31/2018 03:56:36 PM,0,0.20,1.0,N,239.0,239.0,2.0,3.5,0.0,0.5,0.00,0.0,0.3,4.30
2,1,03/31/2018 03:59:56 PM,03/31/2018 04:08:31 PM,0,1.70,1.0,N,239.0,141.0,2.0,8.0,0.0,0.5,0.00,0.0,0.3,8.80
3,2,03/31/2018 03:05:51 PM,03/31/2018 03:29:28 PM,1,4.63,1.0,N,229.0,249.0,1.0,19.5,0.0,0.5,4.06,0.0,0.3,24.36
4,2,03/31/2018 03:06:04 PM,03/31/2018 03:17:37 PM,1,0.98,1.0,N,100.0,246.0,1.0,8.5,0.0,0.5,1.86,0.0,0.3,11.16

In [4]:
# read in event data
dfEvent = pd.read_csv("NYC_Permitted_Event_Information_-_Historical.csv", nrows=1_000)
dfEvent.head()

,Event ID,Event Name,Start Date/Time,End Date/Time,Event Agency,Event Type,Event Borough,Event Location,Event Street Side,Street Closure Type,Community Board,Police Precinct
0,368421,Big Apple Circus,11/18/2017 07:00:00 PM,11/18/2017 08:00:00 PM,Parks Department,Special Event,Manhattan,"Damrosch Park: Damrosch Park ,Damrosch Park: T...",NaN,NaN,"7,","20,"
1,330050,Mt. Eden Farmer's Market,11/16/2017 08:00:00 AM,11/16/2017 04:00:00 PM,Parks Department,Special Event,Bronx,Mount Eden Malls: Mount Eden Malls,NaN,NaN,"4,","44,"
2,314111,Columbia Greenmarket Thursday,11/21/2017 08:00:00 AM,11/21/2017 05:00:00 PM,Street Activity Permit Office,Farmers Market,Manhattan,BROADWAY between WEST 114 STREET and WEST 1...,East,Sidewalk and Curb Lane Closure,"9,","26,"
3,369850,Lawn Maintenance,11/23/2017 12:00:00 AM,11/23/2017 11:58:00 PM,Parks Department,Construction,Manhattan,Madison Square Park: Center Lawn,NaN,NaN,"5,","13,"
4,335783,"October, November December model aircraft flying",11/22/2017 09:00:00 AM,11/22/2017 08:00:00 PM,Parks Department,Special Event,Staten Island,LaTourette Park & Golf Course: Model Airplane ...,NaN,NaN,"2,","122,"

In [5]:
dfEvent.columns

Index(['Event ID', 'Event Name', 'Start Date/Time', 'End Date/Time',
       'Event Agency', 'Event Type', 'Event Borough', 'Event Location',
       'Event Street Side', 'Street Closure Type', 'Community Board',
       'Police Precinct'],
      dtype='object')

In [6]:
dfTaxi.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount'],
      dtype='object')

In [18]:
#Convert to datetime
dfTaxi['tpep_pickup_datetime'] = pd.to_datetime(dfTaxi['tpep_pickup_datetime'])
dfEvent['Start Date/Time'] = pd.to_datetime(dfEvent['Start Date/Time'], format='%m/%d/%Y %I:%M:%S %p')
dfEvent['End Date/Time'] = pd.to_datetime(dfEvent['End Date/Time'], format='%m/%d/%Y %I:%M:%S %p')

# Initialize empty list to collect matches
matches = []

# For each event, find taxi pickups during its time window
for _, event in dfEvent.iterrows():
    start = event['Start Date/Time']
    end = event['End Date/Time']
    location = event['Event Location']
    
    # Filter pickups during the event
    mask = (dfTaxi['tpep_pickup_datetime'] >= start) & (dfTaxi['tpep_pickup_datetime'] <= end)
    pickups_during_event = dfTaxi.loc[mask, ['PULocationID']].copy()
    pickups_during_event['event_location'] = location
    
    matches.append(pickups_during_event)

# Concatenate all matched pickups
dfMatched = pd.concat(matches)

# Group by PULocationID and pick the most common event location
pu_to_event_dict = dfMatched.groupby('PULocationID')['event_location'].agg(lambda x: x.mode().iloc[0]).to_dict()
print(pu_to_event_dict)

{40.0: 'St. James Theatre: 246 West 44th Street ', 79.0: 'St. James Theatre: 246 West 44th Street ', 107.0: 'St. James Theatre: 246 West 44th Street ', 114.0: 'East River Park: Amphitheater ', 132.0: 'St. James Theatre: 246 West 44th Street ', 137.0: 'East River Park: Amphitheater ', 140.0: 'East River Park: Amphitheater ', 141.0: 'East River Park: Amphitheater ', 142.0: 'East River Park: Amphitheater ', 146.0: 'St. James Theatre: 246 West 44th Street ', 148.0: 'St. James Theatre: 246 West 44th Street ', 161.0: 'East River Park: Amphitheater ', 163.0: 'St. James Theatre: 246 West 44th Street ', 164.0: 'St. James Theatre: 246 West 44th Street ', 170.0: 'St. James Theatre: 246 West 44th Street ', 193.0: 'East River Park: Amphitheater ', 229.0: 'East River Park: Amphitheater ', 230.0: 'St. James Theatre: 246 West 44th Street ', 231.0: 'St. James Theatre: 246 West 44th Street ', 233.0: 'East River Park: Amphitheater ', 234.0: 'St. James Theatre: 246 West 44th Street ', 236.0: 'St. James Theatre: 246 West 44th Street ', 237.0: 'East River Park: Amphitheater ', 255.0: 'St. James Theatre: 246 West 44th Street ', 263.0: 'East River Park: Amphitheater '}

In [20]:
dfTaxi['pickup_bin'] = dfTaxi['tpep_pickup_datetime'].dt.floor('15min')
trip_counts = dfTaxi.groupby('pickup_bin').size().reset_index(name='num_trips')

print(trip_counts)

             pickup_bin  num_trips
0   2008-12-31 13:00:00          1
1   2018-03-03 15:15:00          1
2   2018-03-03 16:30:00          1
3   2018-03-03 19:00:00          1
4   2018-03-03 20:30:00          1
..                  ...        ...
175 2018-04-01 17:00:00         38
176 2018-04-01 17:45:00          1
177 2018-04-01 20:15:00          1
178 2018-04-01 23:30:00          1
179 2018-04-01 23:45:00          2

[180 rows x 2 columns]

In [25]:
# Preprocess event data
dfEvent['time_bin'] = dfEvent['Start Date/Time'].dt.floor('15min')
dfEvent['event_duration'] = (dfEvent['End Date/Time'] - dfEvent['Start Date/Time']).dt.total_seconds() / 60

# Expand events to cover all 15-minute they span
event_bins = []
for _, row in dfEvent.iterrows():
    bins = pd.date_range(start=row['Start Date/Time'], end=row['End Date/Time'], freq='15min')
    for b in bins:
        event_bins.append(b)
event_bins = pd.Series(event_bins).drop_duplicates()

# associate the bins with events
event_bins_df = pd.DataFrame({'pickup_bin': event_bins, 'has_event': 1})

# Merge with trip_counts on the pickup_bin
trip_counts = trip_counts.merge(event_bins_df, on='pickup_bin', how='left', suffixes=('_trip', '_event'))

# Handle the merged columns
# If the 'has_event_event' column exists, fill NaN values with 0 and drop redundant columns
trip_counts['has_event'] = trip_counts['has_event_event'].fillna(0)  # Fill NaNs with 0
trip_counts.drop(columns=['has_event_trip', 'has_event_event'], inplace=True)  # Drop redundant columns

# View the final trip_counts dataframe
print(trip_counts)

             pickup_bin  num_trips  has_event_x  has_event_y  has_event
0   2008-12-31 13:00:00          1          0.0          NaN        0.0
1   2018-03-03 15:15:00          1          1.0          1.0        1.0
2   2018-03-03 16:30:00          1          1.0          1.0        1.0
3   2018-03-03 19:00:00          1          1.0          1.0        1.0
4   2018-03-03 20:30:00          1          1.0          1.0        1.0
..                  ...        ...          ...          ...        ...
175 2018-04-01 17:00:00         38          0.0          NaN        0.0
176 2018-04-01 17:45:00          1          0.0          NaN        0.0
177 2018-04-01 20:15:00          1          0.0          NaN        0.0
178 2018-04-01 23:30:00          1          0.0          NaN        0.0
179 2018-04-01 23:45:00          2          0.0          NaN        0.0

[180 rows x 5 columns]

In [52]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [53]:
# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# initialize and train the model 
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

ValueError: Input y contains NaN.

In [ ]:
# evaluate model
mse = mean_squared_error(y_test, y_pred)
print(mse)